@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Justin Lawrence";
}

<!--div containing the main body-->
<div class="content">
    <!--Image of something I enjoy-->
    <div>
        <img class="image" src="img/balloons.jpg" />
        <p class="description">Here is a picture of me making balloon animals on my mission.</p>
    </div>

    <!--What I hope to get out of IS 413-->
    <div>
        <h2>What do I hope to get out of IS 413?</h2>
        <p>
            There are several things I hope to get out of IS 413. First, I am excited to learn another programming language (C#), and another way to create a Web App.
            I want to take the skills I learn from this class and apply them on my job. I would love to use what I learn in class in an internship this summer. My primary
            interest is in develop, so I want to soak in all I can and go above and beyond where my schedule permits.
        </p>
    </div>

    <!--Top #3 jobs for me-->
    <div>
        <h2>My top 3 jobs</h2>
        <ol>
            <li>Software Developer</li>
            <li>Fullstack Developer</li>
            <li>Security Analyst</li>
        </ol>
    </div>

</div>